@import "variables";
@import "mixins/breakpoints.mixins";

* {
  transition: all 350ms;
}
body,
html,
.v-application {
  font-family: "Montserrat", serif;
  color: $text-color;
  font-size: $font-regular;
  font-weight: 600;
  background-color: $body-bg !important;
}

.v-application--wrap {
  min-height: auto;
}

.v-btn,
.v-card.rounded,
.v-text-field--rounded,
.v-menu__content {
  border-radius: $border-radius !important;
}
.v-btn {
  &__content {
    font-weight: 700;
    font-size: $font-regular;
    text-transform: initial;
  }
}

.fade-enter-active {
  animation: fadeIn 0.3s forwards;
}
.fade-leave-active {
  animation: fadeIn 0.1s reverse;
}

.theme--dark.v-card {
  background-color: #2b2b2b;
  padding: 2 * $theme-unit;
}

.v-btn--disabled {
  opacity: 0.5 !important;
}

p {
  margin: 0;
}

.v-btn.v-btn--outlined:not(.primary--text) {
  border-color: #D5D6DF;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.cursor-pointer {
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
}

a {
  color: $primary;
}

.cancel-button {
  border-color: #D5D6DF;
}

.rotating-icon {
  transition: all 200ms;
  &.rotate {
    transform: rotate(180deg);
  }
}

.fancy-card {
  padding-top: $panel-gap;
  position: relative;
  background: white;

  .v-card__title {
    position: absolute;
    top: $theme-unit * -2;
    left: $theme-unit;
    padding: 0;

    *:first-child {
      background: #2b2b2b;
      padding-left: $theme-unit;
      padding-right: $theme-unit;
    }
  }

  &.fancy-card__gray {
    background: $body-bg;
    .v-card__title {
      *:first-child {
        background: $body-bg;
      }
    }
  }
}

.v-toast__item {
  width: 100%;
  margin: 0;
  border-radius: 0;

  @include respond-to('small') {
    width: auto;
    margin: .5em 0;
    border-radius: $border-radius;
  }

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.0);
  animation: opaqueBackdropTransition .1s ease-in-out 0s 1 forwards;
  -webkit-animation: opaqueBackdropTransition .1s ease-in-out 0s 1 forwards;
  -moz-animation: opaqueBackdropTransition .1s ease-in-out 0s 1 forwards;
}

.modal--close {
  position: absolute;
  right: $theme-unit;
  top: $theme-unit;
}

.strategy-cell {
  padding: 4px 8px;
  border-radius: $border-radius;

  &__icon {
    display: none;
  }
  &.low {
    background: $success;
  }
  &.medium {
    background: $warning;
  }
  &.high {
    background: $error;
  }
}

.nav-header {
  margin-bottom: 2 * $theme-unit;
  font-weight: bold;
}

